

/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */ 

@charset "UTF-8";

// @import url(//db.onlinewebfonts.com/c/402e0baf0b719aedc913155a6b57920e?family=24+LED+Bright);
// @import url("/home/luke/.mume/calculatrices.css");

// div.mume.markdown-preview {
//   width:130%;
//   margin-left: 100px; 
// }

.markdown-preview.markdown-preview {
  // modify your style here
  // background-color: blue;
  font-family: "Raleway", "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans, JoyPixels, 'Noto Color Emoji', sans-serif;
  font-size: 1.05em;
  width: 130%;
  @media print { // for pdf export custom style
    // background-color: blue;
    font-size: 0.75em;
    width: 100%;

    // svg {
    //   width: calc(attr(width) * 0.5pt) ;
    // }
    
    // NEWPAGE pour IMPRESSION
    div.newpage, newpage {
      display:block;
      page-break-after: always;
      // background-color: blue;
    }

    figcaption { // correct pdf export (too close)
      margin-top:1em;
    }


    // AFFICHE LES DÉMOS LORS IMPRESSION
    // Décommenter pour Impression de 
    // TOUTES LES DÉMOS
    // div.preuve p, div.demo p, div.demonstration p, 
    // div[preuve] p, div[demo] p, div[demonstration] p, 
    // preuve p, demo p, demonstration p

    div.preuve p, div.demo p, div.demonstration p, 
    div[preuve] p, div[demo] p, div[demonstration] p, 
    preuve p, demo p, demonstration p, 
    div.preuve ul, div.demo ul, div.demonstration ul, 
    div[preuve] ul, div[demo] ul, div[demonstration] ul, 
    preuve ul, demo ul, demonstration ul
    {
      display: block; // pour 95% de la largeur
      width: 95%;
      margin-left: 1.5em;
      margin-bottom: 0.5em;
      font-weight:400;
      color:#5a5a5a;
      border-left: 3px dashed rgb(150, 150, 150);
      padding-left: 0.8%;
      background-color: #f5f5f5;
      border-radius: 0 5px 5px 0;
      box-shadow: 8px 0px 6px;
    }

    div.preuve:after, div.demo:after, div.demonstration:after, 
    div[preuve]:after, div[demo]:after, div[demonstration]:after, 
    preuve:after, demo:after, demonstration:after
    {
      display: inline-block;
      // border: 3px solid red; 
      // content: "⧈"; // &#x29C8;
      content: "\29C8";
      // content: "⛝"; // &#x26DD;
      // content: "\26DD";
      position: relative;
      font-size: 1.7em;
      font-weight: 600;
      bottom: 1.8em;
      left: calc(100% - 1.4em);
    }


    // CACHE LES ICONES DE STYLO LORS IMPRESSION
    // PAR DÉFAUT : LAISSER COMME CELA (DÉCOMMENTÉ)
    stylo:before {
      display: none;
    }

    // AFFICHE CORRIGÉS / RÉPONSES lors IMPRESSION
    // Décommenter (jusqu'à END CORRIGÉS) pour Imprimer TOUS les Corrigés
    // même ceux cachés avec Stylo
    // Inutile de Commenter autre chose que ce qui suit.
    // NE PAS SUPPRIMER !!

    // stylo:before { // Raffiche les icônes de Stylo
    //   display: inline-block;
    //   font-weight: 700;
    //   font-size: 1.4em;
    //   content: "\1F58D";
    // }
 
    // stylo div.reponse, stylo div.rep, 
    // stylo reponse, stylo rep,
    // p + rep, p + rep { // les deux sinon alternance car affichage de rep provoque sortie de p ...
    //   display: block;
    //   color:red;
    // }

    // stylo[inline] div.reponse, stylo[inline] div.rep,
    // stylo[inline] reponse, stylo[inline] rep,
    // stylo stylo[inline] rep {
    //   display: inline-block;
    // }    // END CORRIGÉS

  } // END @MEDIA PRINT
}


/* AUTOMATIC NUMBERING OF SECTIONS */
// html.mume-header {
// }

// div.mume.markdown-preview {
//   width: 150%;
// }

body {
  counter-reset: h1counter;
  counter-reset: definitioncounter;
  counter-reset: proprietecounter;
  counter-reset: propositioncounter;
  counter-reset: theoremcounter;
  counter-reset: lemmacounter;
  counter-reset: methodcounter;
  counter-reset: exercicecounter;
  counter-reset: exemplecounter;
}

div#title, div#titre, div.title, div.titre, title, titre {
  display: block;
  font-family: "24 LED Bright";
  font-size: 200%;
  text-align: center;
  border: 3px solid black;
  border-radius: 4px;
  padding : 0.5rem;
  box-shadow: 5px 5px 5px #222;
}


div#para, div.para {
  color: #5a9ac5;
  font-size: 2em;
  font-weight: bold;
}

div#para:after, div.para:after {
  content:"";
  position: relative;
  display: block;
  width: 100%;
  bottom: 0.2em;
  border-top: 2px solid #78B5DE;
}

h1.mume-header { /* Paragraphes */
  background-color: #78B5DE;
  line-height: 1em;
  counter-reset: h2counter;
  counter-increment: h1counter;
}

h1.mume-header:before {
  content: counters(h1counter, ".", upper-roman) ".\0000a0";
}

// STYLE WEB AVEC I,II pour h1 puis Styling pour h2
h2.mume-header { /* Sous-Paragraphes */
  color: #5a9ac5;
  font-size: 2em;
  font-weight: bold;
  counter-reset: h3counter;
}

h2.mume-header:after {
  content:"";
  position: relative;
  display: block;
  width: 100%;
  bottom: 0em;
  border-top: 2px solid #78B5DE;
}

// // STYLE UNIVERSITAIRE pour h2, AVEC NUMEROTATIONS
// h2.mume-header { /* Sous-Paragraphes */
//   // SET AUTO-NUMBERING & PRESENTATION COHERENCE
//   background-color: #b2d5ec;
//   line-height: 1em;
//   counter-reset: h3counter;
// }

// // CONFIGURE AUTO-NUMBERING
// h2.mume-header:before {
//   content: counters(h2counter, ".") ")\0000a0";   //  '\0000a0' is for a non-breakable space
//   counter-increment: h2counter;
// }

// STYLE WEB avec I,I,III puis Styling pour h2 et h3
h3.mume-header { /* Sous-Paragraphes */
  display: inline-block;
  color: #5a9ac5;
  padding-right:0.5em;
  font-weight: bold;
  font-size: 1.3em;
  border-radius: 5px;
  counter-reset: h4counter;
}

h3.mume-header:before {
  display: inline-block;
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  background: url("/home/luke/.mume/img/pcbLeft.png") no-repeat;
  background-size:100%;
  top: 0.1em;
  right: 0.3em;
}

h3.mume-header:after {
  display: inline-block;
  /* display: block; */
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  background: url("/home/luke/.mume/img/pcbRight.png") no-repeat;
  background-size:100%;
  top: 0.1em;
  left: 0.3em;
}

// STYLE UNIVERSITAIRE pour h3, AVEC NUMEROTATIONS
// h3.mume-header { /* Sous-Sous-Paragraphes */
//   background-color: #d2e9f8;
//   line-height: 1em;
//   counter-reset: h4counter;
// }

// h3.mume-header:before {
//   content: counters(h3counter, ".", lower-alpha) ")\0000a0";   //  '\0000a0' is for a non-breakable space
//   counter-increment: h3counter;
// }

// STYLE WEB avec I,I,III puis Styling pour h2, h3, h4
h4.mume-header { /* Sous-Sous-Paragraphes */
  color: #5a9ac5;
  // background-color: #e3f0f8;
  line-height: 1em;
  padding-right:0.5em;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 5px;
  // counter-reset: h5counter;
}

h4.mume-header:before {
  display: inline-block;
  position: relative;
  content: "";
  width: 40px;
  height: 20px;
  background: url("/home/luke/.mume/img/main.png") no-repeat;
  background-size:100%;
  top: 0.3em;
  right: 0.3em;
}

// // STYLE UNIVERSITAIRE NUMÉROTÉ CLASSIQUE
// h4.mume-header { /* Sous-Sous-Paragraphes */
//   background-color: #e3f0f8;
//   line-height: 1em;
//   // counter-reset: h5counter;
// }

// h4.mume-header:before {
//   content: counters(h4counter, ".", lower-greek) ")\0000a0";   //  '\0000a0' is for a non-breakable space
//   counter-increment: h4counter;
// }

/* BLOCKQUOTES : CUSTOM BLUE LEFT LINE */
blockquote {
  /* User agent Default Style : */
  box-shadow: inset 0.7em 0em #78b5de;
  background-color: #f2f2f2;
  // background-color: red;
  border-left: 0 !important;
}

blockquote code {
  background-color:#CCC !important;
  // background-color:red !important;
}

// CODE et CODEBLOCKS
code { // pour les morceaux de code inline en gris
  font-family: 'Fira Code','Source Code Pro', sans-serif !important;
  background-color:#ddd !important;
  font-weight: 500;
}

code[class*="language-"],
pre[class*="language-"] { // pour les codeBlocks
  font-family: 'Source Code Pro', sans-serif;
}

code[class*="language-pseudo"], pre[class*="language-pseudo"] code, pre[class*="language-pseudo"] span.line-numbers-rows span { // pour les codeBlocks
  // couvre 'pseudocode' et 'pseudo-code', et même tous les langages 'pseudo*'
  font-family: 'Fira Code','Source Code Pro', sans-serif;
  font-size: 1.1em !important;
  line-height: 1.5em;
  color: #f8f8f2;

}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: red;
}

.token.punctuation {
  color: orange;
}
// [data-role~="codeBlock"]::before {
//   // font-weight:bold;
//   font-size: 3em;
//   content: "<" attr(data-info) ">";
// }

// END OF CODEBLOCKS


// COLORS
div.red, red, div.rouge, rouge, 
div.bred, bred, div.brouge, brouge {
  color:red;
}

div.blue, blue, div.bleu, bleu,
div.bblue, bblue, div.bblue, bbleu {
  color:blue;
}

div.purple, purple, div.violet, violet,
div.bpurple, bpurple, div.bviolet, bviolet {
  color:purple;
}

div.green, green, div.vert, vert,
div.bgreen, bgreen, div.bvert, bvert {
  color:green;
}

div.grey, grey, div.gris, gris,
div.bgrey, bgrey, div.bgris, bgris {
  color:#bbb;
  font-weight: 600;
}

div.black, black, div.noir, noir,
div.bblack, bblack, div.bnoir, bnoir {
  color:black;
}

div.bred, bred, div.brouge, brouge,
div.bblue, bblue, div.bbleu, bbleu,
div.bpurple, bpurple, div.bviolet, bviolet,
div.bgreen, bgreen, div.bvert, bvert,
div.bgrey, bgrey, div.bgris, bgris,
div.bblack, bblack, div.bnoir, bnoir {
  font-weight: 700;
}




// ENCADREMENTS
encadre, #encadre, .encadre, enc
{
  display: inline-block;
  border: 1px solid #111111;
  // background-color: rgba(200,200,200,0.5);
  background-color: #fff;
  border-radius:10px;
  box-shadow: 5px 5px 5px #222;
  margin-bottom: 0.3em;
  padding: 0.5em 0.7em 0.5em 0.7em;
}

envaleurshadow, #envaleurshadow, .envaleurshadow,
valsha, #valsha, .valsha, envsha, #envsha, .envsha
{
  display:inline-block;
  background-color: rgba(220,220,220,0.6);
  border-radius: 7px;
  padding: 0 0.5em;
  border-bottom: 2px solid rgba(0, 0, 0, .6);
  border-right: 2px solid rgba(0, 0, 0, .6);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, .4);
}

envaleur, #envaleur, .envaleur,
val, #val, .val , env, #env, .env
{
  display:inline-block;
  background-color: rgba(220,220,220,0.6);
  border-radius: 7px;
  padding: 0 0.5em;
  border-bottom: 2px solid rgba(0, 0, 0, .6);
  border-right: 2px solid rgba(0, 0, 0, .6);
  font-weight:500;
  // box-shadow: 5px 5px 3px rgba(0, 0, 0, .4);
}


// TABLEAUX

table {
  display: inline-block !important;
  width: auto !important;
  box-shadow: 7px 7px 7px;
}

table th {
  background-color: #b2d5ec;
  color: inherit !important; // pour Réponses en rouge
}

table tr:nth-child(odd) {
  background-color: #e3f0f8;
}

table td {
  white-space: nowrap;
}

// table code {
//   background-color: inherit !important;
// }

table code {
  background-color: #CCC !important;
}

// IMAGES

img {
  margin: auto;
  padding:5px;
  // width:100%;
  box-shadow: 5px 5px 10px #222;
  border-radius:7px;
}

figcaption {
  margin-top:0.5em;
}

.noshadow, .noboxshadow {
  box-shadow: none;
  border-radius:7px;
}

// RENDUS LATEX

.output-div img {
  box-shadow: none;
}

div.clear, clear {
  display:block;
  clear: both;
  margin-top: 1em;
}



// DÉBUT BLOCKS MATHÉMATIQUES

div.propriete, div.pte, propriete, pte {
  clear:both;
  display: block;
  counter-increment: proprietecounter;
  margin: 2em 0em;
  padding: 0em 2em;
  border: 2px solid #66aedf;
  background-color: #c0dff3;
  border-radius: 7px;
  box-shadow: 5px 5px 10px #66aedf;
}

div.propriete table, div.pte table, 
propriete table, pte table {
  box-shadow: 7px 7px 7px;
}

div.propriete table th, div.pte table th, 
propriete table th, pte table th {
  background-color: #66aedf;
  color: inherit;
}

div.propriete table tr:nth-child(odd), div.pte table tr:nth-child(odd), 
propriete table tr:nth-child(odd), pte table tr:nth-child(odd) {
  background-color: #e3f0f8;
}

div.propriete table tr:nth-child(even), div.pte table tr:nth-child(even), 
propriete table tr:nth-child(even), pte table tr:nth-child(even) {
  background-color: #b0d8f3;
}

div.propriete:before, div.pte:before, propriete:before, pte:before {
  content: "Propriété " counters(proprietecounter, ".") ".\0000a0";
  padding: 0.2em 0.5em;
  color:#000;
  background-color: #66aedf;
  border-radius: 7px;
  border: 2px solid #1976b4;
  font-weight: 700;
  position: relative;
  display:inline-block;
  top:-1em;
  box-shadow: 5px 5px 10px;
}

div[data]:not([data=""]).propriete:before, div[data]:not([data=""]).pte:before,
propriete[data]:not([data=""]):before, pte[data]:not([data=""]):before {
    content: "Propriété " counters(proprietecounter, ".") ".\0000a0" "(" attr(data) ")";
}

div.proposition, div.prop {
  clear:both;
  display: block;
  counter-increment: propositioncounter;
  margin: 2em 0em;
  padding: 0em 2em;
  border: 2px solid #66aedf;
  background-color: #c0dff3;
  border-radius: 7px;
  box-shadow: 5px 5px 10px #66aedf;
}

div.proposition:before, div.prop:before, proposition:before, prop:before,
proposition[data]:not([data=""]):before, prop[data]:not([data=""]):before {
  content: "Proposition " counters(propositioncounter, ".") ".\0000a0";
  padding: 0.2em 0.5em;
  color:#000;
  background-color: #66aedf;
  border-radius: 7px;
  border: 2px solid #1976b4;
  font-weight: 700;
  position: relative;
  display:inline-block;
  top:-1em;
  box-shadow: 5px 5px 10px;
}

div[data]:not([data=""]).proposition:before, div[data]:not([data=""]).prop:before,
proposition[data]:not([data=""]):before, prop[data]:not([data=""]):before {
  content: "Proposition " counters(propositioncounter, ".") ".\0000a0" "(" attr(data) ")";
}

div.definition, div.def, definition, def {
  clear:both;
  display: block;
  counter-increment: definitioncounter;
  margin: 2em 0em;
  padding: 0em 2em;
  border: 2px solid #9cff99;
  background-color: #e3ffe5;
  border-radius: 7px;
  box-shadow: 5px 5px 10px #9cff99;
}

div.definition:before, div.def:before, definition:before, def:before {
  content: "Définition " counters(definitioncounter, ".") ".\0000a0";
  padding: 0.2em 0.5em;
  color:#000;
  background-color: #9cff99;
  border-radius: 7px;
  border: 2px solid #44cc3f;
  font-weight: 700;
  position: relative;
  display:inline-block;
  top:-1em;
  box-shadow: 5px 5px 10px;
}

div[data]:not([data=""]).definition:before, div[data]:not([data=""]).def:before,
definition[data]:not([data=""]):before, def[data]:not([data=""]):before {
  content: "Définition " counters(definitioncounter, ".") ".\0000a0" "(" attr(data) ")";
}

div.theorem, div.thm, theorem, thm {
  clear:both;
  display: block;
  counter-increment: theoremcounter;
  margin: 2em 0em;
  padding: 0em 2em;
  border: 2px solid #fa9c9c;
  background-color: #ffe3e3;
  border-radius: 7px;
  box-shadow: 5px 5px 10px #fa9c9c;
}

div.theorem:before, div.thm:before,theorem:before, thm:before {
  content: "Théorème " counters(theoremcounter, ".") ".\0000a0";
  padding: 0.2em 0.5em;
  color:#000;
  background-color: #fa9c9c;
  border-radius: 7px;
  border: 2px solid #fd5e5e;
  font-weight: 700;
  position: relative;
  display:inline-block;
  top:-1em;
  box-shadow: 5px 5px 10px;
}

div[data]:not([data=""]).theorem:before, div[data]:not([data=""]).thm:before,
theorem[data]:not([data=""]):before, thm[data]:not([data=""]):before {
  content: "Théorème " counters(theoremcounter, ".") ".\0000a0" "(" attr(data) ")";
}

div.method.reset, div.mth.reset, method[reset], mth[reset] {
  counter-reset: methodcounter 0;
}

div.method, div.mth, method, mth {
  clear:both;
  display: block;
  counter-increment: methodcounter;
  margin: 2em 0em;
  padding: 0em 2em;
  border: 2px solid #ee71ff;
  background-color: #f4d4fd;
  border-radius: 7px;
  box-shadow: 5px 5px 10px #ee71ff;
}

div.method:before, div.mth:before, method:before, mth:before {
  content: "Méthode " counters(methodcounter, ".") ".\0000a0";
  padding: 0.2em 0.5em;
  color:#000;
  background-color: #ee71ff;
  border-radius: 7px;
  border: 2px solid #d621ee;
  font-weight: 700;
  position: relative;
  display:inline-block;
  top:-1em;
  box-shadow: 5px 5px 10px;
}

div[data]:not([data=""]).method:before, div[data]:not([data=""]).mth:before,
method[data]:not([data=""]):before, mth[data]:not([data=""]):before {
  content: "Méthode " counters(methodcounter, ".") ".\0000a0" "(" attr(data) ")";
}


// EXERCICES

div.exercice, div.exo, div.ex, 
exercice, exo, ex {
  counter-increment: exercicecounter;
}

div.exercice:before, div.exo:before, div.ex:before, 
exercice:before, exo:before, ex:before {
  content: "Exercice " counters(exercicecounter, ".") ".\0000a0";
  padding: 0.2em 0.5em;
  margin: 1.5em 0 0 0;
  color:#000;
  background-color: #ffc15e;
  border-radius: 7px;
  border: 1px solid #ee9301;
  font-weight: 700;
  position: relative;
  display:inline-block;
  top:-1em;
  box-shadow: 5px 5px 10px #fbaf34;
}

div[data]:not([data=""]).exercice:before, div[data]:not([data=""]).exo:before, div[data]:not([data=""]).ex:before, 
exercice[data]:not([data=""]):before, exo[data]:not([data=""]):before, ex[data]:not([data=""]):before {
  content: "Exercice " counters(exercicecounter, ".") ".\0000a0" "(" attr(data) ")";
}


// EXEMPLES

div.exemple:before, div.exp:before, exemple:before, exp:before {
  content: "Exemple " counters(exemplecounter, ".") ".\0000a0";
  counter-increment: exemplecounter;
  padding: 0.2em 0.5em;
  margin: 1.5em 0 0 0;
  color:#000;
  background-color: #ffbbbb;
  border-radius: 7px;
  border: 2px solid #ff7171;
  font-weight: 700;
  position: relative;
  display:inline-block;
  top:-1em;
  box-shadow: 5px 5px 10px #ffa3a3;
}

div[data]:not([data=""]).exemple:before, div[data]:not([data=""]).exp:before,
exemple[data]:not([data=""]):before, exp[data]:not([data=""]):before {
  content: "Exemple " counters(exemplecounter, ".") ".\0000a0" "(" attr(data) ")";
}

// CORRIGÉS

stylo {
  --intro-mode-block: "Réponse : ";
  --intro-mode-inline: "";
}

// CORRIGÉS / REPONSES
// PAR DÉFAUT, NE PAS AFFICHER
rep {
  display: none;
}

// AFFICHER EN LIVE MODE
rep[live] {
  display: block;
  color:red;
  font-weight: 500;
}

rep[live]:before {
  display: block;
  font-weight: 700;
  content: "Réponse : ";
}

//PAR DÉFAUT, NE PAS AFFICHER LES RÉPONSES DANS LES STYLOS
stylo rep, p+rep {
  display: none;
}

// CONFIGURATIONS DES STYLOS
stylo:before {
  // display:inline-block;
  font-weight: 700;
  font-size: 1.4em;
  content: "\1F58D";
}

stylo rep:before {
  font-weight: 700;
  // content: "Réponse : ";
  // display: block;
  content: var(--intro-mode-block);
}

stylo[inline] rep:before {
  font-weight: 700;
  // content: "";
  content: var(--intro-mode-inline);
}

// ON HOVER, AFFICHER CORRIGÉS DES STYLOS
stylo:hover div.reponse, stylo:hover div.rep, 
stylo:hover reponse, stylo:hover rep,
p:hover + rep, p + rep:hover
{ // les deux sinon alternance car affichage de rep provoque sortie de p ...
  display: block;
  color:red;
}

// INLINE MODE pour les tableaux et réponses courtes
stylo[inline]:hover div.reponse, stylo[inline]:hover div.rep,
stylo[inline]:hover reponse, stylo[inline]:hover rep,
stylo:hover stylo[inline] rep {
  display: inline-block;
}


// PREUVES / DÉMO / DÉMONSTRATION

div.preuve, div.demo, div.demonstration, 
div[preuve], div[demo], div[demonstration], 
preuve, demo, demonstration {
  clear: both;
  // display: inline-block; // pour 95% de la largeur
  display: block; // pour 95% de la largeur
}

div.preuve:before, div.demo:before, div.demonstration:before, 
div[preuve]:before, div[demo]:before, div[demonstration]:before, 
preuve:before, demo:before, demonstration:before {
  content: "Preuve ";
  margin: 0em 0em 0em 0.5em;
  padding: 0.2em 0.5em;
  background-color: #e0e0e0;
  border-radius: 7px;
  border: 1px solid #777777;
  font-weight: 700;
  font-size: 0.9em;
  position: relative;
  display: inline-block; // sinon, si 'block' la box prend toute la largeur
  top: -1em;
  left: -0.5em;
  box-shadow: 2px 1px 6px;
  cursor: pointer;
}

div.demo:before, div[demo]:before , demo:before {
  content: "Démo ";
}

div.demonstration:before, div[demonstration]:before, demonstration:before {
  content: "Démonstration ";
}

// on HOVER ou en LIVE mode, alors insérer AFTER
div.preuve:hover:after, div.demo:hover:after, div.demonstration:hover:after, 
div[preuve]:hover:after, div[demo]:hover:after, div[demonstration]:hover:after, 
preuve:hover:after, demo:hover:after, demonstration:hover:after, 
div.preuve.live:after, div.demo.live:after, div.demonstration.live:after, 
div[preuve][live]:after, div[demo][live]:after, div[demonstration][live]:after, 
preuve[live]:after, demo[live]:after, demonstration[live]:after 
{
  // display:inline-block;
  // border: 3px solid red; 
  // content: "⧈"; // &#x29C8;
  content: "\29C8";
  // content: "⛝"; // &#x26DD;
  // content: "\26DD";
  position: relative;
  font-size: 1.7em;
  font-weight: 600;
  // bottom: 1.8em;
  bottom: 0em;
  left: calc(100% - 0.8em);
}

// HIDE DEMO PARAGRAPH, BY DEFAULT
div.preuve p, div.demo p, div.demonstration p, 
div[preuve] p, div[demo] p, div[demonstration] p, 
preuve p, demo p, demonstration p, 
div.preuve ul, div.demo ul, div.demonstration ul, 
div[preuve] ul, div[demo] ul, div[demonstration] ul, 
preuve ul, demo ul, demonstration ul
{
  display: none;
}

// DEMO PARAGRAH STYLING
// div.preuve p, div.demo p, div.demonstration p, 
// div[preuve] p, div[demo] p, div[demonstration] p, 
// preuve p, demo p, demonstration p
div.preuve, div.demo, div.demonstration, 
div[preuve], div[demo], div[demonstration], 
preuve, demo, demonstration
{
  width: calc(100% - 3.5em); //modif
  margin-left: 1.5em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 1.5em;
  // padding-bottom: 0em;
  font-weight:400;
  color:#5a5a5a;
  border-left: 3px dashed rgb(150, 150, 150);
  background-color: #f5f5f5;
  border-radius: 0 5px 5px 0;
  box-shadow: 8px 0px 6px;
}

// ON HOVER or in LIVE MODE, DISPLAY DEMO PARAGRAPH
// div.preuve:hover p, div.demo:hover p, div.demonstration:hover p, 
// div[preuve]:hover p, div[demo]:hover p, div[demonstration]:hover p, 
// preuve:hover p, demo:hover p, demonstration:hover p, 
// div.preuve.live p, div.demo.live p, div.demonstration.live p, 
// div[preuve][live] p, div[demo][live] p, div[demonstration][live] p, 
// preuve[live] p, demo[live] p, demonstration[live] p

div.preuve:hover p, div.demo:hover p, div.demonstration:hover p, 
div[preuve]:hover p, div[demo]:hover p, div[demonstration]:hover p, 
preuve:hover p, demo:hover p, demonstration:hover p, 
div.preuve.live p, div.demo.live p, div.demonstration.live p, 
div[preuve][live] p, div[demo][live] p, div[demonstration][live] p, 
preuve[live] p, demo[live] p, demonstration[live] p,
div.preuve:hover ul, div.demo:hover ul, div.demonstration:hover ul, 
div[preuve]:hover ul, div[demo]:hover ul, div[demonstration]:hover ul, 
preuve:hover ul, demo:hover ul, demonstration:hover ul, 
div.preuve.live ul, div.demo.live ul, div.demonstration.live ul, 
div[preuve][live] ul, div[demo][live] ul, div[demonstration][live] ul, 
preuve[live] ul, demo[live] ul, demonstration[live] ul
{
  display: block; // pour 95% de la largeur
}

// ON NOT HOVER, AND NOT LIVE MODE: a bit of EXTRA SPACE after 
// div.preuve:not(.live):not(:hover) p, div.demo:not(:hover):not(.live) p, div.demonstration:not(:hover):not(.live) p, 
// div[preuve]:not(:hover):not([live]) p, div[demo]:not(:hover):not([live]) p, div[demonstration]:not(:hover):not([live]) p, 
// preuve:not(:hover):not([live]) p, demo:not(:hover):not([live]) p, demonstration:not(:hover):not([live]) p
div.preuve:not(.live):not(:hover), div.demo:not(:hover):not(.live), div.demonstration:not(:hover):not(.live), 
div[preuve]:not(:hover):not([live]), div[demo]:not(:hover):not([live]), div[demonstration]:not(:hover):not([live]), 
preuve:not(:hover):not([live]), demo:not(:hover):not([live]), demonstration:not(:hover):not([live])
{
  border-left: none;
  background-color: inherit;
  box-shadow: none;
  // color:blue;
}



// CUSTOMISATION DU TITRE POUR UNE DÉMONSTRATION PAS AU PROGRAMME

div[preuve]:not([data=""]):before, div[data]:not([data=""]).preuve:before, 
preuve[data]:not([data=""]):before 
{ // to write "Preuve" + data value
  content: "Preuve " "(" attr(data) ")";
}

div[demo]:not([data=""]):before, div[data]:not([data=""]).demo:before, 
demo[data]:not([data=""]):before 
{ // to write "Démo" + data value
  content: "Démo " "(" attr(data) ")";
}

div[demonstration]:not([data=""]):before, div[data]:not([data=""]).demonstration:before, 
demonstration[data]:not([data=""]):before 
{ // to write "Démonstration" + data value
  content: "Démonstration " "(" attr(data) ")";
}

// CUSTOMISATION TITRE POUR UNE DÉMONSTRATION AU PROGRAMME

// COULEUR PAR DÉFAUT BOÎTE

div[preuve][bo]:before, div[bo].preuve:before, div.preuve.bo:before,
div[preuve][prog]:before, div[prog].preuve:before, div.preuve.prog:before,
div[preuve][prgm]:before, div[prgm].preuve:before, div.preuve.prgm:before,
preuve[bo]:before, preuve[prog]:before, preuve[prgm]:before,
div[demo][bo]:before, div[bo].demo:before, div.demo.bo:before,
div[demo][prog]:before, div[prog].demo:before, div.demo.prog:before,
div[demo][prgm]:before, div[prgm].demo:before, div.demo.prgm:before,
demo[bo]:before, demo[prog]:before, demo[prgm]:before,
div[demonstration][bo]:before, div[bo].demonstration:before, div.demonstration.bo:before,
div[demonstration][prog]:before, div[prog].demonstration:before, div.demonstration.prog:before,
div[demonstration][prgm]:before, div[prgm].demonstration:before, div.demonstration.prgm:before,
demonstration[bo]:before, demonstration[prog]:before, demonstration[prgm]:before
{
  --caractere-demo-prog: "\2764"; // le caractère ❤
  color:rgb(245, 75, 75);
}

// PREUVE PAR DÉFAUT
div[preuve][bo]:before, div[bo].preuve:before, div.preuve.bo:before,
div[preuve][prog]:before, div[prog].preuve:before, div.preuve.prog:before,
div[preuve][prgm]:before, div[prgm].preuve:before, div.preuve.prgm:before,
preuve[bo]:before, preuve[prog]:before, preuve[prgm]:before
{ // to write "Preuve" + "AU PROGRAMME""
  // color:rgb(245, 75, 75);
  content: "Preuve ( " var(--caractere-demo-prog) " AU PROGRAMME " var(--caractere-demo-prog) " )";
}

// PREUVE Avec Attributs: data="" ou bo="" ou prog="" ou prgm=""
div[data]:not([data=""]).preuve.bo:before,
div[preuve][bo]:not([bo=""]):before, div[bo]:not([bo=""]).preuve:before,
div[preuve][prog]:not([prog=""]):before, div[prog]:not([prog=""]).preuve:before,
div[preuve][prgm]:not([prgm=""]):before, div[prgm]:not([prgm=""]).preuve:before,
preuve[bo]:not([bo=""]):before, preuve[prog]:not([prog=""]):before, preuve[prgm]:not([prgm=""]):before
{ // to write "Démonstration" + data/bo/prog/prgm value
  content: "Preuve ( " var(--caractere-demo-prog) "  " attr(data) attr(bo) attr(prog) attr(prgm) " " var(--caractere-demo-prog) " )";
}

// DÉMO PAR DÉFAUT
div[demo][bo]:before, div[bo].demo:before, div.demo.bo:before,
div[demo][prog]:before, div[prog].demo:before, div.demo.prog:before,
div[demo][prgm]:before, div[prgm].demo:before, div.demo.prgm:before,
demo[bo]:before, demo[prog]:before, demo[prgm]:before
{ // to write "Preuve" + "AU PROGRAMME""
  // color:rgb(245, 75, 75);

  content: "Démo ( " var(--caractere-demo-prog) " AU PROGRAMME " var(--caractere-demo-prog) " )";
}

// DÉMO Avec Attributs: data="" ou bo="" ou prog="" ou prgm=""
div[data]:not([data=""]).demo.bo:before,
div[demo][bo]:not([bo=""]):before, div[bo]:not([bo=""]).demo:before,
div[demo][prog]:not([prog=""]):before, div[prog]:not([prog=""]).demo:before,
div[demo][prgm]:not([prgm=""]):before, div[prgm]:not([prgm=""]).demo:before,
demo[bo]:not([bo=""]):before, demo[prog]:not([prog=""]):before, demo[prgm]:not([prgm=""]):before
{ // to write "Démonstration" + data/bo/prog/prgm value
  content: "Démo ( " var(--caractere-demo-prog) "  " attr(data) attr(bo) attr(prog) attr(prgm) " " var(--caractere-demo-prog) " )";
}

// DÉMONSTRATION PAR DÉFAUT
div[demonstration][bo]:before, div[bo].demonstration:before, div.demonstration.bo:before,
div[demonstration][prog]:before, div[prog].demonstration:before, div.demonstration.prog:before,
div[demonstration][prgm]:before, div[prgm].demonstration:before, div.demonstration.prgm:before,
demonstration[bo]:before, demonstration[prog]:before, demonstration[prgm]:before
{ // to write "Démonstration" + "AU PROGRAMME""
  // color:rgb(245, 75, 75);
  content: "Démonstration ( " var(--caractere-demo-prog) " AU PROGRAMME " var(--caractere-demo-prog) " )";
}

// DÉMONSTRATION Avec Attributs: data="" ou bo="" ou prog="" ou prgm=""
div[data]:not([data=""]).demonstration.bo:before,
div[demonstration][bo]:not([bo=""]):before, div[bo]:not([bo=""]).demonstration:before,
div[demonstration][prog]:not([prog=""]):before, div[prog]:not([prog=""]).demonstration:before,
div[demonstration][prgm]:not([prgm=""]):before, div[prgm]:not([prgm=""]).demonstration:before,
demonstration[bo]:not([bo=""]):before, demonstration[prog]:not([prog=""]):before, demonstration[prgm]:not([prgm=""]):before
{ // to write "Démonstration" + data/bo/prog/prgm value
  content: "Démonstration ( " var(--caractere-demo-prog) "  " attr(data) attr(bo) attr(prog) attr(prgm) " " var(--caractere-demo-prog) " )";
}



// FIN BLOCKS MATHÉMATIQUES


// CALCULATRICE TI 83

ti {
  --ti-menu: #ffffff;
  --ti-normale: #eaecec;
  --ti-nombre: #81a6b3;
  display: inline-block;
  background-color: #e7f5f8;
  border-left: 2px solid #dddddd;
  border-top: 2px solid #dddddd;
  box-shadow: -3px -3px 3px inset;
  border-radius: 5px;
  width: 40px;
  height: 30px;
  // font-size: 1em;
  font-weight:500;
  // overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0.2em 0.5em;
}

ti[fx] {
  background-color: var(--ti-menu);
  border-radius: 15px 7px 7px 15px;
}

ti[fx]:before {
  // position: relative;
  // right: 0.4em;
  content: "f(x)";
  // font-size: 0.9em;
}

ti[fenetre] {
  background-color: var(--ti-menu);
}

ti[fenetre]:before {
  position: relative;
  right: 0.4em;
  content: "fenêtre";
  font-size: 0.9em;
}

ti[zoom] {
  background-color: var(--ti-menu);
}

ti[zoom]:before {
  position: relative;
  right: 0.2em;
  content: "zoom";
  // font-size: 0.9em;
}

ti[trace] {
  background-color: var(--ti-menu);
}

ti[trace]:before {
  position: relative;
  right: 0.1em;
  content: "trace";
  // font-size: 0.9em;
}

ti[graphe], ti[graph] {
  background-color: var(--ti-menu);
  border-radius: 7px 15px 15px 7px;
}

ti[graphe]:before, ti[graph]:before {
  position: relative;
  right: 0.4em;
  content: "graphe";
  font-size: 0.9em;
}

ti[seconde], ti[sec] {
  background-color: #6dbef6;
  color:white;
  font-weight: 700;
  box-shadow: -3px -3px 3px inset rgb(110, 110, 110);
}

ti[seconde]:before, ti[sec]:before {
  position: relative;
  right: 0.1em;
  content: "2nde";
  // font-size: 0.9em;
}

ti[mode] {
  background-color: var(--ti-normale);
}

ti[mode]:before {
  position: relative;
  right: 0.2em;
  content: "mode";
  // font-size: 0.9em;
}

ti[suppr] {
  background-color: var(--ti-normale);
}

ti[suppr]:before {
  position: relative;
  right: 0.2em;
  content: "suppr";
  // font-size: 0.9em;
}

// insérer les FLÈCHES

ti[gauche], ti[left] {
  background-color: var(--ti-normale);
}

ti[gauche]:before, ti[left]:before {
  position: relative;
  right: 0.2em;
  content: "\25C2";
  // font-size: 0.9em;
}

ti[droite], ti[right] {
  background-color: var(--ti-normale);
}

ti[droite]:before, ti[right]:before {
  position: relative;
  right: 0.2em;
  content: "\25B8";
  // font-size: 0.9em;
}

ti[bas], ti[down] {
  background-color: var(--ti-normale);
}

ti[bas]:before, ti[down]:before {
  position: relative;
  right: 0.2em;
  content: "\25BE";
  // font-size: 0.9em;
}

ti[haut], ti[up] {
  background-color: var(--ti-normale);
}

ti[haut]:before, ti[up]:before {
  position: relative;
  right: 0.2em;
  content: "\25B4";
  // font-size: 0.9em;
}

ti[alpha] {
  background-color: #61cf0c;
  color:white;
  font-weight: 700;
  box-shadow: -3px -3px 3px inset rgb(110, 110, 110);
}

ti[alpha]:before {
  position: relative;
  right: 0.3em;
  content: "alpha";
  // font-size: 0.9em;
}

ti[xttn] {
  background-color: var(--ti-normale);
}

ti[xttn]:before {
  position: relative;
  right: 0.3em;
  content: "x,T," "\03B8" ",n";
  // font-size: 0.9em;
}

ti[stats] {
  background-color: var(--ti-normale);
}

ti[stats]:before {
  // position: relative;
  // right: 0.3em;
  content: "stats";
  // font-size: 0.9em;
}

ti[maths] {
  background-color: var(--ti-normale);
}

ti[maths]:before {
  position: relative;
  right: 0.4em;
  content: "maths";
  // font-size: 0.9em;
}

ti[matrice], ti[mat] {
  background-color: var(--ti-normale);
}

ti[matrice]:before, ti[mat]:before {
  position: relative;
  right: 0.6em;
  content: "matrice";
  font-size: 0.9em;
}

ti[prgm] {
  background-color: var(--ti-normale);
}

ti[prgm]:before {
  position: relative;
  right: 0.2em;
  content: "prgm";
  // font-size: 0.9em;
}

ti[var], ti[vars] {
  background-color: var(--ti-normale);
}

ti[var]:before, ti[vars]:before {
  position: relative;
  right: 0.1em;
  content: "var";
  // font-size: 0.9em;
}

ti[annul] {
  background-color: var(--ti-normale);
}

ti[annul]:before {
  position: relative;
  right: 0.2em;
  content: "annul";
  // font-size: 0.9em;
}

ti[decfrac], ti[frac] {
  background-color: var(--ti-normale);
}

ti[decfrac]:before, ti[frac]:before {
  position: relative;
  right: 0.2em;
  content: "\25C2" " " "\25B8";
  // font-size: 0.9em;
}

ti[trig] {
  background-color: var(--ti-normale);
}

ti[trig]:before {
  position: relative;
  right: 0.2em;
  content: "trig";
  // font-size: 0.9em;
}

ti[resol] {
  background-color: var(--ti-normale);
}

ti[resol]:before {
  position: relative;
  right: 0.2em;
  content: "résol";
  // font-size: 0.9em;
}

ti[frac] {
  background-color: var(--ti-normale);
}

ti[frac]:before {
  position: relative;
  right: 0.2em;
  font-weight:600;
  content: "\2751" "/" "\2751";
  // font-size: 0.9em;
}

ti[puissance],ti[puiss], ti[power], ti[chapeau] {
  background-color: var(--ti-normale);
}

ti[puissance]:before, ti[puiss], ti[power]:before, ti[chapeau]:before {
  position: relative;
  right: 0.2em;
  font-weight:700;
  // content: "\2227";
  content: "\22C0";
  // font-size: 0.9em;
}

ti[x2] {
  background-color: var(--ti-normale);
}

ti[x2]:before {
  position: relative;
  right: 0.2em;
  content: "x²";
  // font-size: 0.9em;
}

ti[comma], ti[virgule], ti[virg] {
  background-color: var(--ti-normale);
}

ti[comma]:before, ti[virgule]:before, ti[virg]:before {
  position: relative;
  right: 0.2em;
  top: 0.6em;
  content: "\275C";
  // font-size: 0.9em;
}

ti[pargauche], ti[parg], ti[parleft], ti[parl] {
  background-color: var(--ti-normale);
}

ti[pargauche]:before, ti[parg]:before, ti[parleft]:before, ti[parl]:before {
  position: relative;
  right: 0.2em;
  font-weight:700;
  content: "(";
  // font-size: 0.9em;
}

ti[pardroite], ti[pard], ti[parright], ti[parr] {
  background-color: var(--ti-normale);
}

ti[pardroite]:before, ti[pard]:before, ti[parright]:before, ti[parr]:before {
  position: relative;
  right: 0.2em;
  font-weight:700;
  content: ")";
  // font-size: 0.9em;
}

ti[div] {
  background-color: var(--ti-menu);
}

ti[div]:before {
  position: relative;
  right: 0.2em;
  content: "\2797";
  // font-size: 0.9em;
}

ti[log] {
  background-color: var(--ti-normale);
}

ti[log]:before {
  position: relative;
  right: 0.2em;
  content: "log";
  // font-size: 0.9em;
}

ti[sept], ti[seven] {
  background-color: var(--ti-nombre);
}

ti[sept]:before, ti[seven]:before {
  position: relative;
  right: 0.1em;
  content: "\1d7f3";
  // font-size: 0.9em;
}

ti[huit], ti[eight] {
  background-color: var(--ti-nombre);
}

ti[huit]:before, ti[eight]:before {
  position: relative;
  right: 0.1em;
  content: "\1d7f4";
  // font-size: 0.9em;
}

ti[neuf], ti[nine] {
  background-color: var(--ti-nombre);
}

ti[neuf]:before, ti[nine]:before {
  position: relative;
  right: 0.1em;
  content: "\1d7f5";
  // font-size: 0.9em;
}

ti[fois], ti[times] {
  background-color: var(--ti-menu);
}

ti[fois]:before, ti[times]:before {
  position: relative;
  right: 0.2em;
  content: "\2716";
  // font-size: 0.9em;
}

ti[ln] {
  background-color: var(--ti-normale);
}

ti[ln]:before {
  position: relative;
  right: 0.2em;
  content: "ln";
  // font-size: 0.9em;
}

ti[quatre], ti[four] {
  background-color: var(--ti-nombre);
}

ti[quatre]:before, ti[four]:before {
  position: relative;
  right: 0.1em;
  content: "\1d7f0";
  // font-size: 0.9em;
}

ti[cinq], ti[five] {
  background-color: var(--ti-nombre);
}

ti[cinq]:before ,ti[five]:before {
  position: relative;
  right: 0.1em;
  content: "\1d7f1";
  // font-size: 0.9em;
}

ti[six] {
  background-color: var(--ti-nombre);
}

ti[six]:before {
  position: relative;
  right: 0.1em;
  content: "\1d7f2";
  // font-size: 0.9em;
}

ti[moins], ti[minus] {
  background-color: var(--ti-menu);
}

ti[moins]:before, ti[minus]:before {
  position: relative;
  right: 0.2em;
  content: "\2796";
  // font-size: 0.9em;
}

ti[sto] {
  background-color: var(--ti-normale);
}

ti[sto]:before {
  position: relative;
  right: 0.2em;
  content: "sto \2794";
  // font-size: 0.9em;
}

ti[un], ti[one] {
  background-color: var(--ti-nombre);
}

ti[un]:before, ti[one]:before {
  position: relative;
  right: 0.1em;
  content: "\1d7ed";
  // font-size: 0.9em;
}

ti[deux], ti[two] {
  background-color: var(--ti-nombre);
}

ti[deux]:before, ti[two]:before {
  position: relative;
  right: 0.1em;
  content: "\1d7ee";
  // font-size: 0.9em;
}

ti[trois], ti[three] {
  background-color: var(--ti-nombre);
}

ti[trois]:before, ti[three]:before {
  position: relative;
  right: 0.1em;
  content: "\1d7ef";
  // font-size: 0.9em;
}

ti[plus] {
  background-color: var(--ti-menu);
}

ti[plus]:before {
  position: relative;
  right: 0.2em;
  content: "\2795";
  // font-size: 0.9em;
}

ti[on] {
  background-color: var(--ti-normale);
}

ti[on]:before {
  position: relative;
  right: 0.2em;
  content: "on";
  // font-size: 0.9em;
}

ti[zero] {
  background-color: var(--ti-nombre);
}

ti[zero]:before {
  position: relative;
  right: 0.1em;
  content: "\1d7ec";
  // font-size: 0.9em;
}

ti[point] {
  background-color: var(--ti-nombre);
}

ti[point]:before {
  position: relative;
  right: 0.1em;
  top:0.4em;
  content: "\25aa";
  // font-size: 0.9em;
}

ti[signe], ti[sign] {
  background-color: var(--ti-nombre);
}

ti[signe]:before, ti[sign]:before {
  position: relative;
  right: 0.1em;
  font-weight:700;
  content: "(" "-" ")";
  // font-size: 0.9em;
}

ti[entrer], ti[enter] {
  background-color: var(--ti-menu);
}

ti[entrer]:before, ti[enter]:before {
  position: relative;
  right: 0.2em;
  font-weight:700;
  content: "entrer";
  font-size: 0.9em;
}

// FIN TI 83


// CALCULATRICE NUMWORKS

num {
  display: inline-block;
  color:black;
  background-color: #ffffff;
  border-left: 2px solid #dddddd;
  border-top: 2px solid #dddddd;
  // box-shadow: -3px -3px 3px inset;
  box-shadow: -3px -3px 3px inset rgb(110, 110, 110);
  border-radius: 30px;
  width: 40px;
  height: 30px;
  // font-size: 1em;
  // overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0.2em 0.5em;
}

num[gauche], num[left] {
}

num[gauche]:before, num[left]:before {
  position: relative;
  right: 0.2em;
  top: -0.2em;
  font-size: 1.2em;
  font-weight:700;
  content: "\25c1";
}

num[droite], num[right] {
}

num[droite]:before, num[right]:before {
  position: relative;
  // right: 0.1em;
  top: -0.2em;
  font-size: 1.2em;
  font-weight:700;
  content: "\25b7";
}

num[haut], num[up] {
}

num[haut]:before, num[up]:before {
  position: relative;
  right: 0.1em;
  top: -0.2em;
  font-size: 1.2em;
  font-weight:700;
  content: "\25b3";
  // font-size: 0.9em;
}

num[bas], num[down] {
}

num[bas]:before, num[down]:before {
  position: relative;
  right: 0.1em;
  top: -0.1em;
  font-size: 1.2em;
  font-weight:700;
  content: "\25bd";
  // font-size: 0.9em;
}

num[maison], num[home] {
  background-color: #ecad3b;
  color:white;
}

num[maison]:before, num[home]:before {
  position: relative;
  right: 0.1em;
  font-size: 1.2em;
  font-weight:700;
  content: "\2616";
  // font-size: 0.9em;
}

num[on], num[off] {
  background-color: #272727;
  color:white;
}

num[on]:before, num[off]:before {
  position: relative;
  right: 0.1em;
  font-size: 1.2em;
  font-weight:700;
  // content: "\23FC";
  content: "\23FB";
  // font-size: 0.9em;
}

num[ok] {
  // display:inline-block;
  width:20px;
  height:30px;
  border-radius: 50%;
}

num[ok]:before {
  position: relative;
  right: 0.1em;
  top: -0.1em;
  font-size: 0.8em;
  font-weight:700;
  content: "OK";
  // font-size: 0.9em;
}

num[retour], num[back] {
  width:20px;
  height:30px;
  border-radius: 50%;
}

num[retour]:before, num[back]:before {
  position: relative;
  right: 0.1em;
  // top: 0.1em;
  font-size: 1em;
  font-weight:700;
  content: "\2B8C";
  // font-size: 0.9em;
}

num[shift] {
  color: #ecad3b;
}

num[shift]:before {
  position: relative;
  right: 0.2em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "shift";
}

num[alpha] {
  // color: #ecad3b;                 
}

num[alpha]:before {
  position: relative;
  right: 0.3em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "alpha";
}

num[xnt] {
  // color: #ecad3b;                 
}

num[xnt]:before {
  position: relative;
  right: 0.1em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "x,n,t";
}

num[var] {
  // color: #ecad3b;                 
}

num[var]:before {
  position: relative;
  right: 0.1em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "var";
}

num[tools], num[toolbox], num[coller], num[paste], num[clic], num[clicdroit] {
}

num[tools]:before, num[toolbox]:before, num[coller]:before, num[paste]:before, num[clic]:before, num[clicdroit]:before {
  position: relative;
  right: 0.2em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "\2399";
  // content: "\1F9F0"; // color toolbox
  // font-size: 0.9em;
}

num[efface], num[suppr], num[erase] {
}

num[efface]:before, num[suppr]:before, num[erase]:before {
  position: relative;
  right: 0.2em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "\232b";
  // font-size: 0.9em;
}

num[exp], num[ex] {
}

num[exp]:before, num[ex]:before {
  position: relative;
  right: 0.2em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "e^x";
  // font-size: 0.9em;
}

num[ln] {
}

num[ln]:before {
  position: relative;
  right: 0.2em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "ln";
  // font-size: 0.9em;
}

num[log] {
}

num[log]:before {
  position: relative;
  right: 0.2em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "log";
  // font-size: 0.9em;
}

num[i] {
}

num[i]:before {
  position: relative;
  right: 0.2em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "i";
  // font-size: 0.9em;
}

num[virgule], num[virg], num[comma] {
}

num[virgule]:before, num[virg]:before, num[comma]:before {
  position: relative;
  right: 0.2em;
  top: 0.6em;
  font-size: 1em;
  font-weight:700;
  content: "\275C";
  // font-size: 0.9em;
}

num[xy], num[puissance], num[puiss], num[power] {
}

num[xy]:before, num[puissance]:before, num[puiss]:before, num[power]:before {
  position: relative;
  right: 0.2em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "x^y";
  // font-size: 0.9em;
}

num[sin] {
}

num[sin]:before {
  position: relative;
  right: 0.2em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "sin";
  // font-size: 0.9em;
}

num[cos] {
}

num[cos]:before {
  position: relative;
  right: 0.2em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "cos";
  // font-size: 0.9em;
}

num[tan] {
}

num[tan]:before {
  position: relative;
  right: 0.2em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "tan";
  // font-size: 0.9em;
}

num[pi] {
}

num[pi]:before {
  position: relative;
  right: 0.2em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "\3C0";
  // font-size: 0.9em;
}

num[sqrt], num[racine] {
}

num[sqrt]:before, num[racine]:before {
  position: relative;
  right: 0.2em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "\221A";
  // font-size: 0.9em;
}

num[x2] {
}

num[x2]:before {
  position: relative;
  right: 0.2em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "x²";
  // font-size: 0.9em;
}

num[sept], num[seven] {
}

num[sept]:before, num[seven]:before {
  position: relative;
  right: 0.2em;
  // top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "7";
  // font-size: 0.9em;
}

num[huit], num[eight] {
}

num[huit]:before, num[eight]:before {
  position: relative;
  right: 0.2em;
  // top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "8";
  // font-size: 0.9em;
}

num[neuf], num[nine] {
}

num[neuf]:before, num[nine]:before {
  position: relative;
  right: 0.2em;
  // top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "9";
  // font-size: 0.9em;
}

num[parleft], num[parl], num[pargauche], num[parg] {
}

num[parleft]:before, num[parl]:before, num[pargauche]:before, num[parg]:before {
  position: relative;
  right: 0.2em;
  // top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "(";
  // font-size: 0.9em;
}

num[parright], num[parr], num[pardroite], num[pard] {
}

num[parright]:before, num[parr]:before, num[pardroite]:before, num[pard]:before {
  position: relative;
  right: 0.2em;
  // top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: ")";
  // font-size: 0.9em;
}

num[quatre], num[four] {
}

num[quatre]:before, num[four]:before {
  position: relative;
  right: 0.2em;
  // top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "4";
  // font-size: 0.9em;
}

num[cinq], num[five] {
}

num[cinq]:before, num[five]:before {
  position: relative;
  right: 0.2em;
  // top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "5";
  // font-size: 0.9em;
}

num[six] {
}

num[six]:before {
  position: relative;
  right: 0.2em;
  // top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "6";
  // font-size: 0.9em;
}

num[fois], num[times] {
}

num[fois]:before, num[times]:before {
  position: relative;
  right: 0.2em;
  // top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "\2716";
  // font-size: 0.9em;
}

num[div] {
}

num[div]:before, num[times]:before {
  position: relative;
  right: 0.2em;
  // top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "\2797";
  // font-size: 0.9em;
}

num[un], num[one] {
}

num[un]:before, num[one]:before {
  position: relative;
  right: 0.2em;
  // top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "1";
  // font-size: 0.9em;
}

num[deux], num[two] {
}

num[deux]:before, num[two]:before {
  position: relative;
  right: 0.2em;
  // top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "2";
  // font-size: 0.9em;
}

num[trois], num[three] {
}

num[trois]:before, num[three]:before {
  position: relative;
  right: 0.2em;
  // top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "3";
  // font-size: 0.9em;
}

num[plus] {
}

num[plus]:before {
  position: relative;
  right: 0.2em;
  // top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "\2795";
  // font-size: 0.9em;   2796
}

num[moins], num[minus] {
}

num[moins]:before, num[minus]:before {
  position: relative;
  right: 0.2em;
  // top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "\2796";
  // font-size: 0.9em;
}

num[zero] {
}

num[zero]:before {
  position: relative;
  right: 0.2em;
  // top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "0";
  // font-size: 0.9em;
}

num[point] {
}

num[point]:before {
  position: relative;
  right: 0.2em;
  top: 0.5em;
  font-size: 0.5em;
  font-weight:700;
  content: "\2981";
  // font-size: 0.9em;
}

num[dixp], num[dixpuissance], num[tenp], num[tenpower] {
}

num[dixp]:before, num[dixpuissance]:before, num[tenp]:before, num[tenpower]:before {
  position: relative;
  right: 0.2em;
  // top: 0.3em;
  font-size: 0.9em;
  font-weight:700;
  content: "x10^x";
  // font-size: 0.9em;
}

num[ans] {
}

num[ans]:before {
  position: relative;
  right: 0.2em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "Ans";
  // font-size: 0.9em;
}

num[exe] {
}

num[exe]:before {
  position: relative;
  right: 0.2em;
  top: 0.3em;
  font-size: 1em;
  font-weight:700;
  content: "EXE";
  // font-size: 0.9em;
}

// FIN NUMWORKS
