:root {
  /* TABLEAUX THÈME CLAIR : VALEURS PAR DÉFAUT */
  --table-header-background: #b2d5ec;
  --table-row-odd-background: #e3f0f8;
  --table-row-even-background: #ffffff;
  --table-header-border: #888;
  --table-code-background: #CCC;

  /* ADMONITIONS THÈME CLAIR : VALEURS PAR DÉFAUT */
  --md-admonition-python-title-background: rgb(81, 164, 231);
  --md-admonition-python-border-color: rgb(55, 116, 167);

  /* EN VALEUR */
  --env-background-color: rgba(220,220,220,0.6);
  --env-border-color: rgba(0, 0, 0, .6);

  /* ENCADRE */
  --enc-color: inherit;
  --enc-border-color:#111111;
  --enc-box-shadow: 5px 5px 5px #222;

  /* IMAGE-SHADOW */
  --img-shadow-box: 5px 5px 10px #222;
  --img-shadow-background-color: inherit;
}

/* Theme Général MkDocs */
.md-grid {
  /* max-width: 61 rem; */
  max-width: 95%;
  margin-right:auto;
  margin-left:auto;
}

/* IMPORT LED BRIGHT */
@font-face {
  font-family: "24 LED Bright";
  src: url("//db.onlinewebfonts.com/t/402e0baf0b719aedc913155a6b57920e.eot"); 
  src: url("//db.onlinewebfonts.com/t/402e0baf0b719aedc913155a6b57920e.eot?#iefix") format("embedded-opentype"),
       url("//db.onlinewebfonts.com/t/402e0baf0b719aedc913155a6b57920e.woff2") format("woff2"),
       url("//db.onlinewebfonts.com/t/402e0baf0b719aedc913155a6b57920e.woff") format("woff"),
       url("//db.onlinewebfonts.com/t/402e0baf0b719aedc913155a6b57920e.ttf") format("truetype"),
       url("//db.onlinewebfonts.com/t/402e0baf0b719aedc913155a6b57920e.svg#24 LED Bright") format("svg");
 }

/* STYLE WEB AVEC I,II pour h1 puis Styling pour h2 */
h1 {
  font-family: "24 LED Bright";
  text-align: center;
  color:#5a9ac5 !important;
}

h2 { /* Sous-Paragraphes */
  color: #5a9ac5;
  font-size: 2em;
  font-weight: bold;
  /* counter-reset: h3counter; */
}

h2:after {
  content:"";
  position: relative;
  display: block;
  width: 100%;
  bottom: 0em;
  border-top: 2px solid #78B5DE;
}

h2:target {
  /* font-size:2em; */
  color: #f16fb5;
  font-weight: 700;
}

/* h2:target:before {
  top: 7em;
} */

h2:target:after {
  border-top: 2px solid #f16fb5;
}

/* STYLE WEB avec I,I,III puis Styling pour h2 et h3 */
h3 { /* Sous-Paragraphes */
  display: inline-block;
  color: #5a9ac5;
  padding-right: 0.5em;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
}

h3:before {
  display: inline-block;
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  background: url("../images/pcbLeft.png") no-repeat;
  background-size:100%;
  top: 0.1em;
  right: 0.7em;
}

h3:after {
  display: inline-block;
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  background: url("../images/pcbRight.png") no-repeat;
  background-size:100%;
  top: 0.1em;
  left: -0.7em;
}

h3:target {
  color: #f16fb5;
  /* font-weight: 500; */
  padding-left: 2em;
}

h3:target:before {
  display: inline-block;
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  background: url("../images/pcbLeftTarget.png") no-repeat;
  background-size:100%;
  top: 6em;
  /* left: -2em; */
  right: 2em;
}

h3:target:after {
  display: inline-block;
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  background: url("../images/pcbRightTarget.png") no-repeat;
  background-size:100%;
  top: 0.1em;
  left: 0.6em;
  /* scroll-margin-top:100px; */
}

 /* STYLE WEB avec I,I,III puis Styling pour h2, h3, h4 */
h4 { /* Sous-Sous-Paragraphes */
  color: #5a9ac5;
  line-height: 1em;
  padding-right:0.5em;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 5px;
}

h4:before {
  display: inline-block;
  position: relative;
  content: "";
  width: 40px;
  height: 20px;
  background: url("../images/main.png") no-repeat;
  background-size:100%;
  top: 0.3em;
  right: 0.3em;
}

h4:target {
  color: #f16fb5;
  font-weight: 700;
  padding-left: 2em;
}

h4:target:before {
  top: 6.7em;
  /* left: -2.5em; */
  right: 2.5em;
}


/* CLEAR */

div.clear, clear {
  display:block;
  clear: both;
  margin-top: 1em;
}

/* TABLEAUX */

/* TABLEAUX THEME CLAIR : PAR DÉFAUT*/

table:not(.highlighttable)
 {
  display: inline-block !important;
  width: auto !important;
  box-shadow: 7px 7px 7px;
  border: solid 1.2px var(--table-header-border);
}

table:not(.highlighttable) th, 
table:not(.highlighttable) th:not(code table th)
 {
  background-color: var(--table-header-background);
  border: solid 1.2px var(--table-header-border);
  /* color: inherit !important; // pour Réponses en rouge */
}

table:not(.highlighttable) tr:nth-child(odd),
table:not(.highlighttable) tr:nth-child(odd):not(code table tr) {
  background-color: var(--table-row-odd-background);
}

table:not(.highlighttable) tr:nth-child(even),
table:not(.highlighttable) tr:nth-child(even):not(code table tr) {
  background-color: var(--table-row-even-background);
}

table:not(.highlighttable) td,
table:not(.highlighttable) td:not(code table td) {
  white-space: nowrap;
  border: solid 1.2px var(--table-header-border);
}

table:not(.highlighttable) code,
table:not(.highlighttable) code:not(code table code) {
  background-color: var(--table-code-background) !important;
}

/* COLORS */
 div.red, red, div.rouge, rouge, 
 div.bred, bred, div.brouge, brouge {
   color:red;
 }
 
 div.blue, blue, div.bleu, bleu,
 div.bblue, bblue, div.bblue, bbleu {
   color:blue;
 }
 
 div.purple, purple, div.violet, violet,
 div.bpurple, bpurple, div.bviolet, bviolet {
   color:purple;
 }
 
 div.green, green, div.vert, vert,
 div.bgreen, bgreen, div.bvert, bvert {
   color:green;
 }
 
 div.grey, grey, div.gris, gris,
 div.bgrey, bgrey, div.bgris, bgris {
   color:#bbb;
   font-weight: 600;
 }
 
 div.black, black, div.noir, noir,
 div.bblack, bblack, div.bnoir, bnoir {
   color:black;
 }
 
 div.bred, bred, div.brouge, brouge,
 div.bblue, bblue, div.bbleu, bbleu,
 div.bpurple, bpurple, div.bviolet, bviolet,
 div.bgreen, bgreen, div.bvert, bvert,
 div.bgrey, bgrey, div.bgris, bgris,
 div.bblack, bblack, div.bnoir, bnoir {
   font-weight: 700;
 }

 /* ENCADREMENTS */
encadre, #encadre, .encadre, enc
{
  display: inline-block;
  color: var(--enc-color);
  border: 1px solid var(--enc-border-color);
   /* background-color: rgba(200,200,200,0.5); */
  background-color: transparent;
  border-radius:10px;
  box-shadow: var(--enc-box-shadow);
  margin-bottom: 0.3em;
  padding: 0.5em 0.7em 0.5em 0.7em;
}

envaleurshadow, #envaleurshadow, .envaleurshadow,
valsha, #valsha, .valsha, envsha, #envsha, .envsha
{
  display:inline-block;
  background-color: rgba(220,220,220,0.6);
  border-radius: 7px;
  padding: 0 0.5em;
  border-bottom: 2px solid var(--env-border-color);
  border-right: 2px solid var(--env-border-color);
  box-shadow: 5px 5px 3px var(--env-border-color);
}

envaleur, #envaleur, .envaleur,
val, #val, .val , env, #env, .env
{
  display:inline-block;
  /* background-color: rgba(220,220,220,0.6); */
  background-color: var(--env-background-color);
  border-radius: 7px;
  padding: 0 0.5em;
  border-bottom: 2px solid var(--env-border-color);
  border-right: 2px solid var(--env-border-color);
  font-weight:500;
   /* box-shadow: 5px 5px 3px rgba(0, 0, 0, .4); */
}

/* IMAGES */

img.shadow, img.box,
iframe.shadow, iframe.box {
  margin: auto;
  padding:5px;
  /* width:100%; */
  box-shadow: var(--img-shadow-box);
  background-color: var(--img-shadow-background-color);
  border-radius: 7px;
}

figcaption {
  margin-top:0.5em;
}

/* .noshadow, .noboxshadow {
  box-shadow: none;
  border-radius:7px;
} */

/* External Link in Left Menu */
.md-nav__link {
  justify-content: flex-start;
}

i.fa-external-link-alt {
  margin-left:0.35em;
}