/* TABS */

.tabbed-set {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.tabbed-set .highlight {
  background: #ddd;
}

.tabbed-set .tabbed-content {
  display: none;
  order: 99;
  width: 100%;
}

.tabbed-set label {
  width: auto;
  margin: 0 0.5em;
  padding: 0.25em;
  font-size: 120%;
  cursor: pointer;
}

.tabbed-set input {
  position: absolute;
  opacity: 0;
}

.tabbed-set input:nth-child(n+1) {
  color: #333333;
}

.tabbed-set input:nth-child(n+1):checked + label {    
  color: #FF5252;
  border-bottom: inset 3px #4287ff;
  box-shadow: #AAA 1px 1px 5px;
  border-radius: 5px 5px 0px 0px;
}

.tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
    display: block;
}

/* To prevent scroolbars from appearing with vertically long math formulas  */
/* Reference : https://mooc-forums.inria.fr/moocnsi/t/mkdocs-une-solution-ideale/1758/16 */
.md-typeset div.arithmatex  {
  overflow: initial;
}

.md-typeset .admonition {
  font-size: 0.8rem;
}

.md-typeset details {
  font-size: 0.8rem;
}

